.App {
  text-align: center;
}

.creature-box{
  background-color: #3b4045;
  /* border: 7px;
  border-color: #2d3237; */
  margin: 32px 16px 16px 16px;
  box-shadow: inset 0px 0px 6px 6px #2d3135;
}

.creature-media {
  height: 40vmin;
  pointer-events: none;
}

/* .card-component {
  background-color: #282c34;
}  */

@media (prefers-reduced-motion: no-preference) {
  .creature-media {
    animation: creature-rotate infinite 3s alternate-reverse;
    
  }
}

.creature-card {
  background-color: #2d3237;
}

.App-header {
  background-color: #2d3237;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes creature-rotate {
  from {
    /* transform: rotate(10deg); */
    transform: translateY(50px);
  }
  to {
    transform: translateY(0px) rotate(-23deg);
  }
}

